[app]
PageSize=20
JwtSecret=233
PrefixUrl=http://0.0.0.0:8100

RuntimeRootPath=/data/logs/app/email_server/runtime/

ImageSavePath=upload/images/
# MB
ImageMaxSize=5
ImageAllowExts=.jpg,.jpeg,.png

ExportSavePath=export/
QrCodeSavePath=qrcode/
FontSavePath=fonts/

LogSavePath=logs/
LogSaveName=api
LogFileExt=log
TimeFormat=20060102

[server]
#debug or release
RunMode=release
HttpPort=8100
ReadTimeout=60
WriteTimeout=60

[smtp]
# - 必填
MAIL_HOST=smtp.qq.com
MAIL_FROM_ADDRESS=hlzblog@vip.qq.com
MAIL_USERNAME=QQ邮箱-----------------需要改---------------
MAIL_PASSWORD=POP3密码---------------需要改---------------
# - 
MAIL_HOSTNAME=www.hlzblog.top
MAIL_PORT=587
MAIL_ENCRYPTION_IS_TLS=true

[database]
Type=mysql
User=root
Password=602466
Host=127.0.0.1:3306
Name=common_service
TablePrefix=

[redis]
Host=127.0.0.1:6379
Password=---------------------------需要改---------------
MaxIdle=30
MaxActive=30
IdleTimeout=200

[amqp]
HOST=127.0.0.1
PORT=5672
USER=用户名-------------------------需要改---------------
PASSWORD=密码-----------------------需要改---------------
VHOST=/
CHANNEL_NUMBER=4
CHANNEL_SLEEP_SECOND=30